<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.wp-block-table th {
	white-space: pre;
}

.wp-element-caption {
	text-align: center;
	font-size: 11px;
}

</style>
<!-- end Simple Custom CSS and JS -->
